<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" /> 
<title>{{title}}</title> 
<link href="static/css/style.css" rel="stylesheet" type="text/css" /> 
</head>
<body> 
<div id="outline"><!-- 大枠start --> 
	<div align="center">{{twitter_flow}}</div> 
<div id="title_area"> 
    	<div class="logo_box"> 
        	<a href="index.php"><img src="static/images/logo.png" border="0" /></a> 
        </div><br clear="all"> 
    	<div class="cate_box"><a href="/">ホーム</a> | <a href="http://yahoo.co.jp">ランキング</a> | <a href="http://yahoo.co.jp">落札PICKUP</a> | <a href="http://yahoo.co.jp">twitter</a>　or「イントロダクション」</div> 
  </div> 
    <div id="login_bar">ログイン　新規登録　ヘルプ</div> 
    <div id="main_box"><!-- main_box start --> 
    
    	<div class="left_area"><!-- left_area start --> 
        	        	<center> 
ランダムbanner<br /> 
<img src="static/images/banner/01.gif"> 
<br /><br> 
イントロダクション
<br> 
<br> 
</center>		
{% block body %}{% endblock %}
    <div id="footer"> 
		footer コピーライト
    </div> 
</body> 
</html>
