{% extends "default/html/base.html" %}
{% block body %}
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<div id="cont_area"> 
left_area<br> 
<br> ペニオクサイトランキング<br> 
<table width="100%" cellspacing="0" class="rank"> 
  <tr> 
    <th>順位</th> 
  </tr> 
  <tr> 
    <td>1 <a href="index.php?cont=site&num=001">site_001</a></td> 
  </tr> 
  <tr> 
    <td>2 <a href="index.php?cont=site&num=002">site_002</a></td> 
  </tr> 
  <tr> 
    <td>3</td> 
  </tr> 
  <tr> 
    <td>4</td> 
  </tr> 
  <tr> 
    <td>5</td> 
  </tr> 
  <tr> 
    <td>6</td> 
  </tr> 
  <tr> 
    <td>7</td> 
  </tr> 
  <tr> 
    <td>8</td> 
  </tr> 
  <tr> 
    <td>9</td> 
  </tr> 
  <tr> 
    <td>10</td> 
  </tr> 
</table> 
</div><!--
<br>
<link href="css/style.css" rel="stylesheet" type="text/css">
<div id="cont_area">
	<div id="midasi_l">オークションサイト詳細</div>
    <br />
    <h2><a href="" target="_blank"></a></h2>
<div id="site_deta">
    	<div class="site_img"><a href="" target="_blank"><img src="http://capture.heartrails.com/160x160/shadow?" alt="" name="site_img" width="160" height="160" border="0"/></a></div>
<div class="deta_box">
          <table width="530" border="0" cellpadding="0" cellspacing="1" bgcolor="#999999" class="site_deta">
            <tr>
              <th>一回の値幅</th>
              <td></td>
            </tr>
            <tr>
              <th>コイン単価</th>
              <td></td>
            </tr>
            <tr>
              <th>延長時間</th>
              <td></td>
            </tr>
            <tr>
              <th>送料</th>
              <td></td>
            </tr>
            <tr>
              <th>平均出品商品数</th>
              <td></td>
            </tr>
            <tr>
              <th>決済方法</th>
              <td></td>
            </tr>
            <tr>
              <th>備考</th>
              <td></td>
            </tr>
          </table>
    </div>
  </div>
    
</div>-->        </div><!-- left_area end --> 
        
      <div class="right_area"><!-- right_area start --> 
        	<link href="css/style.css" rel="stylesheet" type="text/css"> 
 
 
<div id="midasi"> 
pickup</div> 
<center> 
<br> 
<a href="http://choioku.com/" target="_blank"><img src="http://capture.heartrails.com/160x160/shadow?http://choioku.com/" alt="" name="site_img" width="160" height="160" border="0"/></a><br> 
Iク<br><br> 
<a href="http://eirakusen.jp/" target="_blank"><img src="http://capture.heartrails.com/160x160/shadow?http://eirakusen.jp/" alt="" name="site_img" width="160" height="160" border="0"/></a><br> 
Gイラクセン<br><br> 
<a href="http://nuko-auc.com/" target="_blank"><img src="http://capture.heartrails.com/160x160/shadow?http://nuko-auc.com/" alt="" name="site_img" width="160" height="160" border="0"/></a><br> 
<br><br> 
</center>            <br /> 
            <center> 
<img name="banner" src="" width="180" height="180" alt=""><br> 
banner 180*180
</center>            <br /> 
          	<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" /> 
<link href="css/style.css" rel="stylesheet" type="text/css"> 
<div id=midasi> 
ペニオクリンク</div> 
<div class="list"> 
<ul> 
  <li><a href=index.php?cont=site&num=0>Iク </a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=1>yニオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=2>|チオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=3>nイオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=4>GEOオークション</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=5>Tルオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=6>Iク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=7></a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=8>D市場</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=9>Nリオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=10>Iク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=11>Iク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=12>Gンオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=13>rッダーマン</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=14>tァイナルオークション</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=15>Kオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=16>!オークション</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=17>Iク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=18>gクオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=19>Iクテン</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=20>AKAOKU</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=21>gクオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=22>b札</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=23>Gイラクセン</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=24>tァミオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=25>Iクラク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=26>Iク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=27></a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=28>oリューマーケット</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=29>uランバザール</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=30>yニーオークションJapan</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=31>Aウトレットオークション</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=32>rッドマスター</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=33>Iク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=34>Zオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=35>Qオークション</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=36>Eェブオク</a></li> 
</ul><ul> 
  <li><a href=index.php?cont=site&num=37>Iク</a></li> 
</ul></div>      </div><!-- right_area end --><br clear="all"> 
    </div><!-- main_box end --> 
</div><!-- 大枠end -->
{% endblock %}
