@charset "utf-8";
/* CSS Document */

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	margin: 0px;
	height: 100%;
}
a {text-decoration: none;}
a:link { color: #0000ff; } /*未訪問のリンク*/
a:visited { color: #000080; } /*訪問済みのリンク*/
a:hover { color: #ff0000; } /*ポイント時のリンク*/

#outline {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #0000CC;
}
/*------------------------------------------------*/
/* タイトル
/*------------------------------------------------*/
#title_area {
	width: 940px;
	background-image: url(../images/title_bg.jpg);
	height: 197px;
	color: #333333;
}
.logo_box {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

#title_area .cate_box {
	margin-top: 55px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	background-color: #FFFFFF;
	-ms-filter: "alpha(opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	float: left;
	width: 930px;
}
/*------------------------------------------------*/
/* ログインエリア
/*------------------------------------------------*/
#login_bar {
	width: 930px;
	background-image: url(../images/bar.jpg);
	height: 27px;
	font-size: 12px;
	color: #666666;
	text-align: right;
	padding-right: 10px;
	padding-top: 7px;
}
/*------------------------------------------------*/
/* メインコンテンツ　外枠
/*------------------------------------------------*/
#main_box {
	width: 940px;
	color: #333333;
	height: 100%;
	background-color: #FFFFFF;
}
/*------------------------------------------------*/
/* 左側　メインコンテンツ
/*------------------------------------------------*/
#main_box .left_area {
	float: left;
	width: 730px;
	margin-top: 15px;
	margin-left: 10px;
}
/*------------------------------------------------*/
/* 右側　コンテンツ
/*------------------------------------------------*/
#main_box .right_area {
	width: 180px;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
	float: right;
}
/*------------------------------------------------*/
/* footer
/*------------------------------------------------*/
#footer {
	width: 940px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-color: #CCCCCC;
	font-size: 12px;
}
/*------------------------------------------------*/
#midasi {
	font-size: 16px;
	font-weight: bold;
	color: #000099;
	height: 27px;
	width: 170px;
	padding-top: 25px;
	background-image: url(../images/midasi.gif);
	margin-bottom: 10px;
	padding-left: 10px;
	margin-top: 15px;
}
#midasi_l {
	font-size: 16px;
	font-weight: bold;
	color: #000099;
	height: 27px;
	width: 720px;
	padding-top: 25px;
	background-image: url(../images/midasi.gif);
	margin-bottom: 10px;
	padding-left: 10px;
	background-repeat: repeat-x;
	margin-top: 15px;
}
.rank th {
	text-align:left;
	color:#000099;
	background-color:#66CCFF;
	border:1px solid #6699CC;
	font-size: 14px;
	padding-top: 7px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.rank td {
	background-color:#EEEEEE;
	border:1px solid #6699CC;
	text-align: left;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
#cont_area {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
#cont_area h2 {
	color: #333333;
	border-bottom-width: 1px;
	border-left-width: 10px;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #0033FF;
	padding-left: 5px;
}
#site_deta {
	width: 700px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}
#site_deta .site_img {
	width: 170px;
	float: left;
}
#site_deta .deta_box {
	float: left;
	width: 530px;
}
.site_deta {
	border: 0px;
	margin: 0px;
}
.site_deta th {
	text-align: left;
	width: 130px;
	color: #FFFFFF;
	background-color: #003399;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
}
.site_deta td {
	color: #003399;
	background-color: #D9ECFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
}
.list ul {
	line-height: 100%;
}
.list {
}

#cont_area a {
	color: #333333;
}